<style>
    /* Custom styles for the Timeline */
    .timeline-frame {
        border-color: #5D99C3;
        border-radius: 5px;
        -moz-border-radius: 5px; /* For Firefox 3.6 and older */
    }

    .timeline-axis {
        border-color: #5D99C3;
        background-color: #5D99C3;
    }

    .timeline-event-content {
        padding: 5px;
    }

    div.high {
        background-color: bisque; /* red */
        border-color: bisque;     /* red */
    }

    div.low {
        background-color: lavender; /* red */
        border-color: lavender;     /* red */
    }

    div.medium {
        background-color: lightpink; /* red */
        border-color: lightpink;     /* red */
    }
</style>
<div ng-app="roadmapApp" ng-controller="roadmapCtl">
    <timeline ng-model="data"></timeline>
    <div id="mytimeline" />
</div>  
